<div class="bg">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div  class='naslovDiv'>
        <p class="naslov">Let The Adventure Begin</p>

    </div>

    <br />
    <br />
    <br />


    <div class="mir">
        <button mat-raised-button color="primary" class="dugme" (click)="goToLogin()">
            Login
        </button>
    </div>
    <br />
    <div class="mir">
        <button mat-raised-button color="primary" class="dugme" (click)="goToReg()">
            Registracija
        </button>
    </div>
</div>