 
<mat-card class="example-card"  appMaterialElevation>
   <mat-card-header class="header"> 
    
     <mat-card-title routerLink="/destination/{{destination.ID}}"  matTooltip="Open to see travels">{{destination.name}}</mat-card-title>
     <div class="starsRating">  
        
      {{destination.average_rate| number:'1.1-1'}} <img class="star" src="assets/images/star.png">
  </div>
     <mat-card-subtitle>{{destination.country}}</mat-card-subtitle>
      
     
       <button mat-icon-button color="primary" (click)="saveChanges(destination)" matTooltip="Edit destination">
         <mat-icon>edit</mat-icon>
       </button>
       <button mat-icon-button color="warn" matTooltip="Delete destination" type="button" (click)="openDeleteDest(destination)">
         <mat-icon>delete</mat-icon>
         
       </button>
      
      
   </mat-card-header>
   <img mat-card-image class = "slika" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
   <mat-card-content class="sadrzaj">
       <p>
         {{destination.description}}
       </p>
     </mat-card-content>

 </mat-card>
 