<mat-card class="example-card" 
appMaterialElevation>
   <mat-card-header class="header"> 
    
     <mat-card-title routerLink="/destinationUser/{{destination.ID}}"  matTooltip="Open to see travels" >{{destination.name}}</mat-card-title>
      <div class="starsRating"> <!--<mat-icon class="star">star</mat-icon> -->
        
        {{destination.average_rate| number:'1.1-1'}} <img class="star" src="assets/images/star.png">
    </div>
    <button mat-icon-button color="primary"  matTooltip="Rate destination" (click) = "openDialogRateDestination(destination)">
      <mat-icon>grade</mat-icon>
    </button>
     <mat-card-subtitle>{{destination.country}}</mat-card-subtitle>
      
     
        
        
      
      
   </mat-card-header>
   <img mat-card-image class = "slika"  src="assets/images/travel.jpg" alt="Photo of a Shiba Inu">
   <mat-card-content class="sadrzaj">
       <p>
         {{destination.description}}
       </p>
     </mat-card-content>

 </mat-card>
 