<div class="bg">
    <header class="nav">
        <div class="container">
            <a id="home" class="nav" routerLink="/homePageAdmin" class="logo">GO Booking</a>
            <nav>
                <ul>
                    <li><a href="#" class="nsdav" onclick="return false;" name="addAdmin" (click)="openDialogAdmin()">Add new admin</a></li>
                    <li><a href="#" class="nsav" onclick="return false;" name="addAdmin" (click)="openDialogGuide()">Add new guide</a></li>
                    <li><a href="#" class="nsav" onclick="return false;" name="addDestinatoin" (click)="openDialogDestination()">Add new Destination</a></li>
                    <li><a href="#" class="nsav" onclick="return false;" name="addDestinatoin" routerLink="/reservationsAll">All reservations</a></li>
                    <li><a href="#" class="nsav" onclick="return false;" name="addAdmin" (click)="logOut()">Log out</a></li>
                </ul>
            </nav>
        </div>
    </header>
 
    <app-destinations-admin></app-destinations-admin>
    </div>
 


