<div>
   
    <div class="add-title">
        <button mat-button class="close-icon" [mat-dialog-close]="true">
            <mat-icon>close</mat-icon>
        </button> 
      <h2 class="primary">Add new trip</h2>
    </div>
    <div>
      <form [formGroup]="addCusForm" (change)="formChanged()">
        <mat-grid-list cols="1"   rowHeight="85px" (window:resize)="onResize($event)">

            <mat-grid-tile >
             <div>
                <mat-form-field>
                    <input matInput placeholder="Name" value={{name}} formControlName="name" name="name"  required>
                    <mat-error *ngIf="addCusForm.controls.name.hasError('required')" name="nameReq">
                      Please enter name of destination
                    </mat-error>
                   
                  </mat-form-field>
             </div>
            </mat-grid-tile>

            <mat-grid-tile >
                <div>
                    <mat-form-field>
                        <input matInput placeholder="Description" value={{description}} formControlName="description" name="description"  required>
                        <mat-error *ngIf="addCusForm.controls.description.hasError('required')" name="nameReq">
                        Please enter description
                        </mat-error>
                    
                    </mat-form-field>
                </div>
            </mat-grid-tile>
            
            <mat-grid-tile >
                <div>
                    <mat-form-field>
                        <input matInput placeholder="Price" value={{price}} formControlName="price" name="price"  required>
                        <mat-error *ngIf="addCusForm.controls.price.hasError('required')" name="nameReq">
                        Please enter country
                        </mat-error>
                    
                    </mat-form-field>
                </div>
            </mat-grid-tile>  
             
            <mat-grid-tile >
              <div>
                  <mat-form-field>
                      <input matInput placeholder="Free seats" value={{free_seats}} formControlName="free_seats" name="free_seats"  required>
                      <mat-error *ngIf="addCusForm.controls.free_seats.hasError('required')" name="nameReq">
                      Please number of free seats
                      </mat-error>
                  
                  </mat-form-field>
              </div>
          </mat-grid-tile>  
          <!-- <mat-grid-tile >
            <div>
                <mat-form-field>
                     <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"
                     input-aria-describedby="datepicker-description"
                      value={{date_time}} formControlName="date_time" name="date_time"  required
                     input-aria-labelledby="datepicker-header "></md-datepicker>
                    
                    <mat-error *ngIf="addCusForm.controls.date_time.hasError('required')" name="nameReq">
                    Please enter date of this trip
                    </mat-error>
                
                </mat-form-field>
            </div>
        </mat-grid-tile>   -->

    </mat-grid-list>
        <div class="btn-sec">
          <button mat-raised-button type="submit" color="primary" class="Update-btn"  [disabled]="!saveChangesEnabled()" name="saveDest" (click)="onAddCus()" >Save</button>
          <button mat-raised-button type="button" class="Discard-btn"  (click)="openDialog()" >Cancel</button>
        </div>
  
      </form>
  
    </div>
  </div>
  
