<div class="row">
    <h2 class="center" >Comments
        <button mat-icon-button color="primary" class="addComment" matTooltip="Create comment" (click) = "openDialogComment()">
            <mat-icon>add</mat-icon>
          </button>

    </h2>
     
</div>

      
<hr>

<div class="row" >
    <div  class="comment" *ngFor = "let comment of comments">
        <app-comment 
        [comment]="comment"></app-comment>  
        <hr>
    </div>
    <!-- <div class="row row-text" *ngIf="!comments.length">
        <p>No comments to display.</p>
    </div> -->
    
</div>